@font-face {
    font-family: "gotham";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/gothamrnd-book.ttf") format("truetype");
}

@font-face {
    font-family: "gotham";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/gothamrnd-medium.ttf") format("truetype");
}

@font-face {
    font-family: "gotham";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/gothamrnd-bold.woff") format("woff");
}

* {
    font-family: "gotham"
}
