{% extends 'base.html.twig' %}

{% block body %}

    <div class="persoPaddingBlock"></div>
    <div class="container persoWhiteBlock rounded">

        <div class="row d-flex justify-content-center">
            <img src="{{ asset('img/tenor.gif') }}" >
        </div>
        <div style="margin-top: 25px;" class="row d-flex justify-content-center">
            <h3>
                403 - Oops! Forbidden.
            </h3>
        </div>

    </div>
{% endblock %}